dist/lib/**/*.js
dist/spec/*.js
dist/build/*.js
dist/spec/**/*.js
dist/js/app.module.js
dist/js/components/**/*.js
template/js/template.js
dist/lib/**/*.js
dist/js/angular-mocks.js
server.js
gulpfile.js
karma.conf.js
webpack.config.js